---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="PREMIOS ESLAND 2024 - Celebrando lo mejor del streaming y creadores de contenido hispanohablantes." 
description="Descubre a los mejores creadores de contenido de España, Latinoamerica y Andorra. ¡Vota por tus favoritos!. Celebra la innovacion y el talento de Twitch, Youtube y mas	">
	<Video/>
	<main>
		<Intro/>
		<Bento/>
		<Prefooter/>
	</main>
	<Footer/>
</Layout>

<style>

</style>
